body {
    margin: 0;
    font-size: 16px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: 10vw 25vw auto 55vw 10vw;
    grid-template-rows: 5vh auto;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}


h2 {
    margin-bottom: 0.25rem;
}

h3 {
    margin: 0.1rem;
}


#name {
    grid-column: 2;
    grid-row: 2;
}
#name>img {
    margin: 1rem 0;
    width: 90%;
    max-width: 300px;
}

#info-tabs {
    grid-column: 4;
    grid-row: 2;
}

#info-tabs table {
    margin: 1rem;
}

#info-tabs td {
    padding: 1rem;
}

#skills {
    
}
#education {
   
}
#experience {
    
}
#workshops {
    
}
#organizations {
   
}
#hobbies {
   
}